<nav class="main-header navbar navbar-expand bg-white navbar-light border-bottom">
  <ul class="navbar-nav">
    <li class="nav-item">
      <%= link_to content_tag(:i, "", class: "fa fa-bars"),
                  admin_dashboards_path,
                  class: "nav-link",
                  data: { widget: "pushmenu"} %>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to "Home", admin_dashboards_path, class: "nav-link" %>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
      <%= link_to "logout", admin_logout_path, class: "nav-link login-button", method: :delete %>
    </li>
  </ul>
</nav>
