<%=form_for [@board, @comment], remote: true do |f| %>
  <div class='form-group mb-30'>
    <%= f.text_area :content , class:"form-control", placeholder: 'コメント内容', rows: '4'  %>
  </div>
    <%= f.submit :送信する , class:"btn btn-transparent",id: "comment-submit-#{@comment.id}", style:'padding: 5px 10px;' %>
<% end %>
