<div class="card mt30 mb30">
  <div class="card-block">
    <h4 class="card-title">エラーが発生しました</h4>
    <p class="card-text">ご迷惑をおかけしてすみません。<br/>復旧作業に入りますので、しばらくしてから再度アクセスをお願いします。<br><br></p>
  </div>
</div>
