<div class="row mt15" id="follow-field" >
<% if @boards.present? %>
  <% @boards.each do |board| %>
      <%= render 'shared/board_contents', board: board, follow: current_user.my_follow(board) %>
  <% end %>
  <% else %>
    <%= render 'shared/non_board' %>
  <% end %>
</div>

<%= paginate @boards %>
